/* Grid */

#app {
  min-width:1000px;
  margin: 0 auto;
}

/* Header */

.ui#content {
  padding-top: 55px;
}

/* Body */

body {
  background-color: #fdfdfd;
}

/* Dimmer */

.ui.dimmer {
  background-color: rgba(49,59,67,0.5);
}

/* Saved Queries */

.saved-query-item {
  margin: 10px auto;
  width: 90%;
}

.saved-query.header {
  padding-bottom: 6px;
}

.saved-query.meta {
  padding-bottom: 8px;
}

.ui.scroll.pane {
  overflow: auto;
  max-height: 20em;
}

.ui.scroll.pane {
  max-height: 20.78em;
}

.ui.message:last-child {
  margin-bottom: 0.3em;
}

/* Table */

#table {
  overflow: auto;
}

/* Table Menu */

.ui.vertical.menu {
  width: auto;
}

/* Refresh Button */

button#refresh-button {
  margin-left: 10px;
  position: relative;
  bottom: 7px;
  float: right;
}

/* Column Header */

div.item.header {
  padding-left: 0.5em;
  font-weight: bold;
}

/* Column List */

.data-type {
  margin: 0em 0.3em;
  padding: 0.2em 0.5em;
}

.data-type > .type {
  overflow: auto;
  margin-left: 6px;
  color: rgba(0, 0, 0, 0.4);
}

/* No content */

.tables .no-content {
  margin: 0em 0.3em;
  padding: 0em 0.9em;
  color: rgba(0, 0, 0, 0.4);
}

.columns .no-content {
  margin: 0em 0.3em;
  padding: 0.6em 0.5em;
  color: rgba(0, 0, 0, 0.4);
}

/* Required Field */

.ui.form .required.fields:not(.grouped) >
.field > label:after, .ui.form
.required.fields.grouped > label:after,
.ui.form .required.field > label:after,
.ui.form .required.fields:not(.grouped) >
.field > .checkbox:after, .ui.form
.required.field > .checkbox:after {
  margin: -0.2em 0em 0em 0.2em;
  content: '*';
  color: #9F3A38;
}

/* Connection Messages */

.connected-message {
  margin-left: 15px;
  color: #49C466;
}

.disconnected-message {
  margin-left: 15px;
  color: #DB2828;
}

/* Code */

code.success {
  padding: 2px;
  background-color: #E8EEF5;
  border: 1px solid #F9F9F9;
  border-radius: 5px;
}

code.success:hover {
  cursor: pointer;
  background-color: #E6F2FE;
}

code.failed {
  padding: 2px;
  background-color: #E8EEF5;
  border: 1px solid #F9F9F9;
  border-radius: 5px;
}

code.failed:hover {
  cursor: pointer;
  background-color: #E6F2FE;
}

/* Disabled */
.disabled {
  display: none;
}

/* Segment */
div.ui.segment {
  margin-top: 0;
}

/* Tiny Modal Width */

@media only screen and (max-width: 767px) {
  .ui.tiny.modal {
    width: 95%;
    margin: 0em 0em 0em -47.5%;
  }
}

@media only screen and (min-width: 768px) {
  .ui.tiny.modal {
    width: 50%;
    margin: 0em 0em 0em -25%;
  }
}

@media only screen and (min-width: 992px) {
  .ui.tiny.modal {
    width: 400px;
    margin: 0em 0em 0em -100px;
  }
}

@media only screen and (min-width: 1200px) {
  .ui.tiny.modal {
    width: 500px;
    margin: 0em 0em 0em -150px;
  }
}

@media only screen and (min-width: 1920px) {
  .ui.tiny.modal {
    width: 600px;
    margin: 0em 0em 0em -200px;
  }
}
